.logo img {
    max-width: 299px;
}

.navbar-dark {
    color: #ffffff;
}

.basic-info label {
    visibility: hidden;
}
.basic-info label.customer {
    visibility: visible;
}

.order-info {
    margin-top: 20px;
    display: flow-root;
}

.order-button-box button {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .logo img {
        width: 299px;
        max-width: 100%;
        padding-bottom: 5px;
    }

    .navbar .logo {
        max-width: 60%;
    }

    .basic-info label {
        display: none;
    }

    .order-button-box {
        margin-top: 10px;
    }

    .order-button-box button {
        margin-right: 0px;
        margin-bottom: 2px;
    }
}
